{% extends "layout.html" %}


{% block body %}
<form action="/register" method="POST">
    <input autocomplete="off" autofocus name="name" placeholder="Name" type="text" required>
    <select name="sport">
        <!-- Allows us to create a disabled option that is auto selected called 'sport' -->
        <option disabled selected>Sport</option>
        <!-- Dynamically call the sports variable to the template -->
        {% for sport in sports %}
            <option value="{{sport}}">{{ sport }}</option>
        {% endfor %}

    </select>
    <button type="submit">Register</button>
</form>

{% endblock %}